.herobanner{
    position: relative;
}
.heroBannerContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    z-index: 1000;
    color: rgb(255 255 255);
    font-family: serif;
    top: 17%;
    width: 100%;
}
.heroBannerImage{
    background-color: rgb(51, 51, 106);
    position:relative;
    z-index:100;
    background-image: linear-gradient(rgb(82, 77, 77), white);
    overflow: hidden;
}
.img{
    width: 100vw;
    height: 92.7vh;
    overflow: hidden;
    object-fit:cover
}
.opacity{
    width: 100%;
    height: 93vh;
    background: linear-gradient(
        180deg,
        rgba(4, 21, 45, 0) 0%,
        #04152d 79.17%
    );
    position: absolute;
    bottom: 0;
    left: 0;
}
.title{
    font-size: 7rem;
    color: #ff8f07;
    opacity: 0.6;
}
.subTitle{
    font-size: 2.5rem;
    color: #ff8f07;
    opacity: 0.8;
}
.form{
    width: 100%;
}

.form input{
    width: 75%;
    height: 3.3rem;
    border-radius: 9px;
    text-align: center;
    font-family: serif;
    font-size: 1.8rem;
    margin-top: 1rem;
}
.form button{
    padding: 0.21rem 1rem;
    border-radius: 7px;
    background-color: white;
    margin-left: 0.5rem;
    margin-top: 0.6rem;
    font-size: 1.65rem;
    font-family: serif;
    font-weight: 600;
}
button:active{
    transform: translateY(3px);
}
@media(max-width:1030px){
    .img{
        height: 43.7vh;
    }
    .heroBannerContent{
        top: 8%;
    }
}
@media(max-width:500px){
    .heroBannerContent{
        top: 10%;
    }
    .form input{
        font-size: 0.8rem;
        height: 2.3rem;
    }
    .form button{
        font-size: 1.1rem;
    }
    .img{
        height: 36.7vh;
    }
    .title{
        font-size: 3rem;
    }
    .subTitle{
        font-size: 1rem;
    }
    }
    