.switchTabParent{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin: 1rem 0.5rem;
    font-weight: 700;
    color: #005e5e;
    background-color: white;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    font-family: serif;
}
.trending{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 5%;
}
.switchTab span{
    cursor: pointer;
    border-radius: 2rem;
    padding: 0.2rem 1.4rem;
    transition-delay: 0.1s;
}
.button1{
    background-color: #dc42427a;
    margin-right: 0.2rem;
}
.button2{
    background-color: #dc42427a;
}
.red{
    width: 100vw;
    background-color: red;
    height: 10rem;
    color: yellow;
    text-align: center;
    font-size: 4rem;
    display: flex;
}
.width{
    width: 25vw;
}

.poster{
    margin: 0rem 1rem 0rem 0rem;
    width: 97%;
    border-radius: 5%;
    cursor: pointer;
}
@media(max-width:500px){
    .switchTabParent{
       font-size: 1rem;
       padding: 0.2rem 0.8rem;
       margin: 1rem 0rem;
    }
    .switchTab{
       padding: 0.2rem 1rem;
    }
   }
