.footerHead{
    background-color: white;
    color: #005e5e;
    margin-top: 2.5rem;
    font-family: serif;
    font-weight: 600;
}
.footer{
    display: flex;
    justify-content:space-evenly;
    padding: 1rem;
}
.footer li{
    list-style-type: none;
    font-size: large;
    cursor: pointer;
}
.footerBootom{
    text-align: center;
    margin: 1rem 1rem 0rem 0rem ;
}
h2{
    font-weight: 600;
    color: #111145;
}
.link{
    color: #005e5e;
    text-decoration: none;
}
