
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #04152d;
}
.container-fluid{
    z-index: 10000;
}
.navigate{
  cursor: pointer;
}
.hoverEffect{
    font-weight: 600;
    font-family: sans-serif;
    border: none;
}
.search{
    font-weight: 600;
    font-family: sans-serif;
}
@media(min-width:992px){
.flex{
    display: flex;
    justify-content: flex-end;
}
}
.logoHead{
    cursor: pointer;
    background-image: linear-gradient(red, yellow);
    border-radius: 1rem;
    padding: 0rem 2rem;
}
.logo1{
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 900;
    font-family: serif;
    color: #005e5e;
}
.logo2{
    padding: 0.1rem 2rem;
    background-color: #005e5e;
    margin-left: 0.5rem;
    border-radius: 1rem;
    
}
@media(max-width:600px){
    .logoHead{
        padding: 0.1rem 0.5rem
    }
    .logo1{
        font-size: 1rem;
    }
    .logo2{
        padding: 0rem 1.6rem;
        margin-left: 0.3rem;
    }
}