
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #04152d;
}
.container-fluid{
    z-index: 10000;
}
.navigate{
  cursor: pointer;
}
.hoverEffect{
    font-weight: 600;
    font-family: sans-serif;
    border: none;
}
.search{
    font-weight: 600;
    font-family: sans-serif;
}
@media(min-width:992px){
.flex{
    display: flex;
    justify-content: flex-end;
}
}